 *{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    box-sizing:border-box;
   


} 
body{ width: 100%;
    height:100%;
   
    
        background-color: rgba(0, 0, 0, 0.866);
        display: flex; 
        justify-content: center;
        align-items: center;  
        height: 100vh;  
        margin: 0;  
       flex-wrap: wrap;
       
       
       
}

section{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 350px;
    height: 500px;
    padding:10px;
    border-radius: 20px;
   box-shadow: 10px 10px 7px 7px blue ;
   gap: 10px;
   position: relative;
}
.card::after{
    content: '';
   position: absolute;
   top: 0;
     width: 100%;
     height:30%;
     background-color: rgba(1, 1, 14, 0.889); 
    border-radius: 20px 20px 0 0;
     z-index: 0;
     border-radius: inherit inherit 0 0;

}
.image{
    background-color:rgba(9, 24, 244, 0.896);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 2;
   
    
    
}

.myphoto{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding:2px;
    object-fit:cover;
    border: 3px solid black;
   
}

h1{   
    text-shadow: 1px 1px 5px blue;
}
.title{
    text-align: center;
}
.social{
    display: flex;
    gap:20px;
   
   
}

.button{
    display: flex;
    gap: 80px;
    
} 
.button .btn{ 
    background-color: blue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}
.button .btn:hover{
    background-color: rgb(206, 197, 197);
    color: blue;
}


